@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
body {
  font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 767px) {
  .h--title {
    font-size: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .h--title {
    font-size: 24px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .h--title {
    font-size: 32px; } }

@media screen and (max-width: 767px) {
  .p--content {
    font-size: 14px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .p--content {
    font-size: 16px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .p--content {
    font-size: 18px; } }

.p--content__banner {
  line-height: 30px; }
  .p--content__banner--property {
    font-weight: 300; }
  @media screen and (max-width: 767px) {
    .p--content__banner {
      line-height: 20px;
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .p--content__banner {
      line-height: 20px;
      font-size: 14px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .p--content__banner {
      font-size: 18px; } }

.h--footer {
  font-size: 18px; }
  @media screen and (max-width: 767px) {
    .h--footer {
      font-size: 16px; } }

.p--footer {
  font-size: 14px; }
  @media screen and (max-width: 767px) {
    .p--footer {
      font-size: 12px; } }

.btn-primary {
  width: 160px;
  background-color: #673090;
  border: none; }
  .btn-primary:focus {
    box-shadow: none;
    outline: none; }
  .btn-primary:active {
    background-color: #57287a !important;
    border: none;
    outline: none; }
  .btn-primary:visited {
    background-color: #673090; }
  .btn-primary:hover {
    background-color: #451c64; }
  @media screen and (max-width: 767px) {
    .btn-primary {
      font-size: 12px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .btn-primary {
      font-size: 18px; } }

.btn-view {
  background-color: #1a1a1a !important; }

.card-link:hover {
  background-color: #451c64 !important; }

header {
  position: relative;
  z-index: 1020; }
  header .navbar {
    background-color: transparent; }
    @media screen and (max-width: 767px) {
      header .navbar .navbar-brand img {
        max-width: 150px; } }
    header .navbar .navbar-nav .nav-item .nav-link {
      color: white;
      font-size: 14px; }
      header .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #009fe3; }
      @media screen and (max-width: 767px) {
        header .navbar .navbar-nav .nav-item .nav-link {
          font-size: 14px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        header .navbar .navbar-nav .nav-item .nav-link {
          font-size: 16px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        header .navbar .navbar-nav .nav-item .nav-link {
          width: fit-content;
          text-align: center;
          font-size: 18px; } }
    header .navbar .navbar-nav .active > .nav-link {
      color: #009fe3; }

footer {
  background-color: #000;
  color: white; }
  footer .menu {
    padding: 32px 0; }
    footer .menu .social {
      display: flex; }
      footer .menu .social .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        background-color: #535353;
        color: #fff;
        border-radius: 100%; }
        footer .menu .social .fab:hover {
          background-color: #313131; }
    footer .menu .menu-list {
      padding-left: 8%; }
      @media screen and (max-width: 767px) {
        footer .menu .menu-list {
          margin-top: 16px;
          padding-left: 15px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        footer .menu .menu-list {
          padding-left: 5%; } }
    footer .menu .list-footer {
      padding: 0;
      list-style: none; }
      footer .menu .list-footer a {
        color: white; }
      footer .menu .list-footer__contact li {
        margin-bottom: 8px; }
        footer .menu .list-footer__contact li .fas {
          display: flex;
          align-items: center;
          margin-right: 8px;
          width: 25px;
          height: 25px; }
        footer .menu .list-footer__contact li p {
          margin: 0; }
  footer .copyright {
    padding: 4px 0;
    border-top: 1px solid #222222;
    font-size: 12px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.home-banner {
  padding: 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/home/group-of-people-sitting-indoors-3184360.jpg");
  background-size: cover;
  color: #fff; }
  .home-banner .left-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0; }
  .home-banner .social-icon {
    margin: 0 2px;
    color: #fff; }
    .home-banner .social-icon:hover {
      color: #009fe3; }
  .home-banner .right-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0; }
    .home-banner .right-banner img {
      width: 100%; }

.home-projects .projects--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px !important;
  color: #fff;
  background: linear-gradient(rgba(103, 48, 144, 0.8), rgba(103, 48, 144, 0.8)), url("../img/home/people-having-pizza-during-break-time-3184342.jpg");
  background-size: cover; }
  .home-projects .projects--left .project--content:before {
    content: "";
    display: block;
    margin-bottom: 20px;
    width: 35px;
    height: 2px;
    border-top: 2px solid #fff; }
  @media screen and (max-width: 767px) {
    .home-projects .projects--left {
      padding: 32px 16px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .home-projects .projects--left {
      padding: 16px !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .home-projects .projects--left {
      padding: 32px !important; } }

.home-projects .projects--right__top {
  padding: 80px 64px !important; }
  .home-projects .projects--right__top .project--content:before {
    content: "";
    display: block;
    margin-bottom: 20px;
    width: 35px;
    height: 2px;
    border-top: 2px solid #673090; }
  @media screen and (max-width: 767px) {
    .home-projects .projects--right__top {
      padding: 32px 16px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .home-projects .projects--right__top {
      padding: 64px 16px !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .home-projects .projects--right__top {
      padding: 64px 32px !important; } }

.home-projects .projects--right__bottom .img__1 {
  width: 100%;
  height: 250px;
  background: url("../img/home/people-discuss-about-graphs-and-rates-3184292.jpg");
  background-size: cover; }

.home-projects .projects--right__bottom .img__2 {
  width: 100%;
  height: 250px;
  background: url("../img/home/woman-sharing-her-presentation-with-her-colleagues-3153198.jpg");
  background-size: cover; }

.home-projects .projects--right__bottom .img__3 {
  width: 100%;
  height: 250px;
  background: url("../img/home/group-of-people-sitting-indoors-3184360.jpg");
  background-size: cover; }

.home-projects .projects--right__bottom .img__4 {
  width: 100%;
  height: 250px;
  background: url("../img/home/photo-of-people-doing-handshakes-3183197.jpg");
  background-size: cover; }

@media screen and (max-width: 767px) {
  .home-projects .projects--right__bottom .img {
    height: 180px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .home-projects .projects--right__bottom .img {
    height: 200px; } }

.home-values {
  padding: 48px 0;
  text-align: center; }
  .home-values .values--title:before {
    content: "";
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 35px;
    height: 2px;
    border-top: 2px solid #673090; }

.home-testimonials {
  padding: 48px 0;
  background-color: #eaeaea; }
  .home-testimonials .testimonials--title {
    text-align: center; }
    .home-testimonials .testimonials--title:before {
      content: "";
      display: block;
      margin: auto;
      margin-bottom: 10px;
      width: 35px;
      height: 2px;
      border-top: 2px solid #673090; }
  .home-testimonials .testimonial .message {
    position: relative;
    padding: 32px;
    margin: auto;
    margin-bottom: 25px;
    width: 60%;
    text-align: center;
    background-color: #01a1e1;
    color: white;
    border-radius: 20px; }
    .home-testimonials .testimonial .message:after {
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 18px 0 18px;
      border-color: #01a1e1 transparent transparent transparent;
      position: absolute;
      bottom: -20px;
      right: 35px; }
    @media screen and (max-width: 767px) {
      .home-testimonials .testimonial .message {
        width: 95%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .home-testimonials .testimonial .message {
        width: 80%; } }
  .home-testimonials .testimonial .user {
    margin: auto;
    width: 60%;
    text-align: right;
    font-weight: 700; }
    @media screen and (max-width: 767px) {
      .home-testimonials .testimonial .user {
        width: 95%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .home-testimonials .testimonial .user {
        width: 80%; } }

.investing-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header/header_01.jpg");
  background-size: cover;
  color: white; }

.investing-what-we-do {
  padding: 48px 0; }
  .investing-what-we-do .category {
    display: flex;
    margin-top: 16px; }
    .investing-what-we-do .category .icon i {
      margin-right: 16px;
      width: 30px;
      height: 30px;
      color: #673090;
      font-size: 34px; }
    .investing-what-we-do .category .content {
      text-align: justify; }

.investing-img .invest-img {
  height: 400px; }
  @media screen and (max-width: 767px) {
    .investing-img .invest-img {
      height: 200px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .investing-img .invest-img {
      height: 250px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .investing-img .invest-img {
      height: 300px; } }

.investing-img .left-img {
  background: url("../img/investing/photo-of-men-sitting-beside-wooden-table-3182806.jpg");
  background-size: cover; }

.investing-img .right-img {
  background: url("../img/investing/smiling-woman-leaning-on-table-1181422.jpg");
  background-size: cover; }

.investing-portfolio {
  padding: 48px 0; }
  .investing-portfolio .card {
    width: 100%;
    height: 100%; }
    .investing-portfolio .card .card-img-top {
      height: 150px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .investing-portfolio .card .card-img-top {
          height: 120px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .investing-portfolio .card .card-body {
        padding: 8px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .investing-portfolio .card .card-body .card-text {
        font-size: 14px; } }
    .investing-portfolio .card .list-group .list-group-item {
      display: flex;
      justify-content: space-between; }
      @media (min-width: 768px) and (max-width: 991px) {
        .investing-portfolio .card .list-group .list-group-item {
          padding: 4px 8px; } }
      .investing-portfolio .card .list-group .list-group-item span {
        font-size: 12px; }
    .investing-portfolio .card .card-link {
      padding: 8px;
      text-align: center;
      color: white;
      background-color: #673090;
      font-size: 14px; }

.investing-option {
  padding: 48px 0;
  text-align: center;
  background-color: #eaeaea; }
  .investing-option .p--content:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 35px;
    height: 2px;
    border-top: 2px solid #673090; }

.investing-real-state .img {
  padding: 180px 64px;
  text-align: center;
  color: white; }
  @media screen and (max-width: 767px) {
    .investing-real-state .img {
      padding: 32px 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .investing-real-state .img {
      padding: 32px 16px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .investing-real-state .img {
      padding: 64px 32px; } }

.investing-real-state .left-img {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/investing/car-driving-keys-repair-97075.jpg");
  background-size: cover; }

.investing-real-state .right-img {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/investing/close-up-of-human-hand-327540.jpg");
  background-size: cover; }

.investing-real-state .real-state-btn {
  background-color: transparent !important;
  border: 1px solid white; }

.sourcing-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header/header_02.jpg");
  background-size: cover;
  color: white; }

.sourcing-perks .side .perks {
  padding: 64px; }
  @media screen and (max-width: 767px) {
    .sourcing-perks .side .perks {
      padding: 48px 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sourcing-perks .side .perks {
      padding: 48px 32px; } }

.sourcing-perks .left-side {
  background-color: #eaeaea; }
  .sourcing-perks .left-side .perks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .sourcing-perks .left-side .perks .h--title:after {
      content: "";
      display: block;
      width: 35px;
      margin-bottom: 24px;
      border-bottom: 2px solid #673090; }
    .sourcing-perks .left-side .perks .p--content {
      margin-left: 24px; }

.sourcing-perks .right-side {
  color: white;
  background-color: #8441b4; }
  .sourcing-perks .right-side .perk {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px; }
    .sourcing-perks .right-side .perk .icon {
      padding: 16px;
      margin-right: 16px;
      border: 1px solid #fff;
      border-radius: 100%; }
      .sourcing-perks .right-side .perk .icon i {
        width: 40px;
        text-align: center;
        font-size: 34px; }
    .sourcing-perks .right-side .perk .content {
      text-align: justify; }

.sourcing-examples {
  padding: 48px 0;
  text-align: center; }
  .sourcing-examples .p--content:after {
    content: "";
    display: block;
    margin: auto;
    width: 35px;
    margin-top: 24px;
    border-bottom: 2px solid #673090; }

.sourcing-example-1 .example {
  height: 400px; }
  @media screen and (max-width: 767px) {
    .sourcing-example-1 .example {
      height: 250px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sourcing-example-1 .example {
      height: 300px; } }
  .sourcing-example-1 .example .example-content {
    padding: 64px; }
    @media screen and (max-width: 767px) {
      .sourcing-example-1 .example .example-content {
        padding: 48px 16px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .sourcing-example-1 .example .example-content {
        padding: 48px 32px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .sourcing-example-1 .example .example-content {
        padding: 48px 16px; } }

.sourcing-example-1 .left-1 {
  background: url("../img/sourcing/blue-and-gray-concrete-house-with-attic-during-twilight-186077.jpg");
  background-size: cover; }

.sourcing-example-1 .right-1 {
  background-color: #eaeaea; }

.sourcing-example-1 .left-2 {
  background-color: #eaeaea; }

.sourcing-example-1 .right-2 {
  background: url("../img/sourcing/brown-and-white-wooden-house-164558.jpg");
  background-size: cover; }

.sourcing-agent {
  padding: 48px 0 0 0; }
  .sourcing-agent .p--content__agent:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 24px;
    width: 35px;
    border-bottom: 2px solid #673090; }
  .sourcing-agent .agent-info {
    position: relative;
    padding: 32px 64px;
    background: linear-gradient(rgba(103, 48, 144, 0.9), rgba(103, 48, 144, 0.9)), url("../img/sourcing/sec6.png"); }
    @media screen and (max-width: 767px) {
      .sourcing-agent .agent-info {
        padding: 40px 24px;
        margin-top: 40px; } }
    .sourcing-agent .agent-info .agent-img {
      position: absolute;
      bottom: 0;
      left: -200px;
      max-width: 250px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .sourcing-agent .agent-info .agent-img {
          display: none !important; } }
    .sourcing-agent .agent-info .info {
      color: white; }

.services-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header/header_02.jpg");
  background-size: cover;
  color: white; }

.services-list {
  padding: 48px 0; }
  .services-list .services-list {
    padding: 0;
    list-style: none; }
    .services-list .services-list li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      height: 80px;
      margin-bottom: 8px;
      background-color: #eaeaea; }
  .services-list .p--content_services {
    padding-left: 24px;
    border-left: 2px solid #009fe3;
    line-height: 30px; }

.services-projects {
  padding: 48px 0;
  background-color: #f7f7f7; }
  .services-projects .card {
    width: 100%;
    height: 100%; }
    .services-projects .card .card-img-top {
      height: 150px; }
    .services-projects .card .card-link {
      padding: 8px;
      text-align: center;
      color: white;
      background-color: #673090;
      font-size: 14px; }

.blogs-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header/header_02.jpg");
  background-size: cover;
  color: white; }

.blogs-list {
  padding: 48px 0; }
  .blogs-list .blog {
    display: flex;
    margin-top: 24px; }
    .blogs-list .blog .blog-img {
      margin-right: 24px; }
      .blogs-list .blog .blog-img img {
        max-width: 300px; }
    .blogs-list .blog .blog-content .blog-title {
      color: #009fe3; }
    .blogs-list .blog .blog-content .blog-summary {
      color: #949494;
      font-size: 14px; }

.blog-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header/header_02.jpg");
  background-size: cover;
  color: white; }

.blog-post {
  padding: 48px 0; }

.blog-others {
  padding: 48px 0; }
