.blog-banner {
  padding: 240px 0 48px 0;
  margin-top: -92px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/header/header_02.jpg");
  background-size: cover;
  color: white;
}

.blog-post {
  padding: 48px 0;
}

.blog-others {
  padding: 48px 0;
}
